body {
	

	margin: 0px;
	background-color: #05445f;


font-family: 'Roboto Slab', serif;


}
.container {
	max-width: 882px;
	background-color: white;
	border-right: 10px solid #FF895D;
	border-left: 10px solid #FF895D;
	background-color: #ffffff;

}
.header {

border-bottom: 2px solid #D5EEFF;
padding: 20px;
margin: 0px;
background-color: #ffffff;



}
.header img {
  width: 150px;
 
display: inline-block;
float: right;
margin-top: 10px;

}
.header h1 {

	display: inline-block;
font-family: 'Roboto Slab', serif;
color: black;
font-size: 30px;
font-weight: bolder;
float: right;
margin-right: 10px;

}
	.header h2 { display: inline-block;
font-family: 'Roboto Slab', serif;
color: black;
font-size: 15px;
font-weight: bolder;
float: right;
margin-right: 10px;
margin-top: 0px;
margin-left: 400px;

}
.header nav {
	float: right;

display: block;
font-family: 'Roboto Slab', serif;
text-decoration: none;
}
.nav ul {
	list-style-type: none;
}

.nav li { 
display: inline-block;
=
 }

.nav li a { 
text-decoration: none;
color: #78BBE6;
font-weight: bolder;

 }

.nav li a:hover {
	border-bottom: 2px solid #0691ce;
	padding-bottom: 5px;
}



.main {
	height: 100%;
margin: 0px;
padding: 0px;
}
 .main .p
 {
 	margin: 10px;
 	font-family: 'Roboto Slab', serif;
 }
 .main .prog {
margin-top: 20px;
font-weight: lighter;

 }

.banner {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */ 
  background-size: cover !important;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}



.footer {
	height: 100px;
	border-top: 2px solid #D5EEFF;
	margin: 0px;
}
.footer p {
	display: inline-block;
	margin-top: 60px;
		font-family: 'Space Mono', monospace, serif;
		color: #0691ce;
		font-size: 12px;

}
.footer ul {
	list-style-type: none;
	float: right;
	display: inline-block;
		margin-top: 60px;
}
.footer li {
	display: inline-block;
	margin: 5px;
	color: #0691ce;

}